.wd-checkbox__shape {
    border-width: 1px !important;
}

::-webkit-scrollbar {
    display: none;
}

.wd-button {
    min-width: unset !important;
}

.wd-navbar__title {
    max-width: 80% !important;
}
