.wd-checkbox__shape {
    border-width: 1px !important;
}

::-webkit-scrollbar {
    display: none;
}

.wd-button {
    min-width: unset !important;
}

.wd-navbar__title {
    max-width: 80% !important;
}

.wd-navbar__text {
    font-weight: 600;
}

.wd-cell__wrapper--vertical .wd-cell__title {
    width: 100% !important;
}
