@font-face {
  font-family: "iconfont"; /* Project id 5224457 */
  src: url('iconfont.woff2?t=1787047059863') format('woff2'),
       url('iconfont.woff?t=1787047059863') format('woff'),
       url('iconfont.ttf?t=1787047059863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-if-connectionCopy:before {
  content: "\e60a";
}

.icon-connection:before {
  content: "\e609";
}

