@font-face {
  font-family: "iconfont"; /* Project id 5224457 */
  src: url('iconfont.woff2?t=1787104859319') format('woff2'),
       url('iconfont.woff?t=1787104859319') format('woff'),
       url('iconfont.ttf?t=1787104859319') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-antOutline-account-book:before {
  content: "\e602";
}

.icon-antOutline-user:before {
  content: "\e601";
}

.icon-if-connection:before {
  content: "\e600";
}

