@font-face {
  font-family: "iconfont"; /* Project id 5128919 */
  src: url('iconfont.woff2?t=1781747376636') format('woff2'),
       url('iconfont.woff?t=1781747376636') format('woff'),
       url('iconfont.ttf?t=1781747376636') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e6ff";
}

.icon-a-shouye2:before {
  content: "\e781";
}

.icon-wode2:before {
  content: "\e79c";
}

.icon-jiantou-zuo:before {
  content: "\e630";
}

.icon-arcoDesign-edit:before {
  content: "\e622";
}

.icon-a-md-remove_circleCopy:before {
  content: "\e847";
}

.icon-a-tupianCopy1:before {
  content: "\e879";
}

.icon-fuwu:before {
  content: "\e673";
}

.icon-fenlei:before {
  content: "\e645";
}

.icon-a-shouye2-fuben:before {
  content: "\e780";
}

.icon-a-dibudaohang_huaban1:before {
  content: "\e81f";
}

.icon-dibudaohang-02:before {
  content: "\e81e";
}

.icon-dibudaohang-07:before {
  content: "\e824";
}

.icon-user--line:before {
  content: "\e600";
}

.icon-apps-fill:before {
  content: "\e693";
}

.icon-ri--user-3-line:before {
  content: "\e624";
}

.icon-home:before {
  content: "\e646";
}

.icon-user-3-fill:before {
  content: "\ecf2";
}

.icon-peoples-filled:before {
  content: "\eb2c";
}

.icon-Peoples_peoples:before {
  content: "\eeae";
}

.icon-apps-line:before {
  content: "\ee74";
}

.icon-home-3-fill:before {
  content: "\e753";
}

.icon-shanghaipudong01:before {
  content: "\e6a7";
}

.icon-yinhanglogo-:before {
  content: "\e97f";
}

.icon-yinhang_gongshangyinhang:before {
  content: "\e6a8";
}

.icon-yinhang-zhaoshangyinhang:before {
  content: "\e6a9";
}

.icon-guangdayinhang:before {
  content: "\e6ac";
}

.icon-yinhang-zhongguoyinhang:before {
  content: "\e6af";
}

.icon-jiansheyinhang:before {
  content: "\e6b0";
}

.icon-beijingyinhang:before {
  content: "\e6b1";
}

.icon-jiaotongyinhang:before {
  content: "\e6b4";
}

.icon-huaxiayinhang:before {
  content: "\e6b5";
}

.icon-guangfayinhang:before {
  content: "\e6b7";
}

.icon-xingyeyinhang:before {
  content: "\e6b9";
}

.icon-zhongguominshengyinhang:before {
  content: "\e6ba";
}

.icon-zhongxinyinhang1:before {
  content: "\e6bc";
}

.icon-youzhengyinhang:before {
  content: "\e854";
}

.icon-zhongguopingan1:before {
  content: "\e6c1";
}

